app {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-nav {
  width: 30%;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-box {
  width: 50px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-icon {
  width: 32px;
  height: 32px;
}
.cart-counter {
  position: absolute;
  right: 0px;
  top: 0px;
}
.home-container {
  width: 100%;
}
.home-slider {
  width: 100%;
}
.home-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.random-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 20px;
  row-gap: 20px;
}
.menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-container {
  width: 100%;
  background-color: blue;
  height: 100px;
}
